h1{
  text-decoration-color: orange;
  text-align:center;
  -webkit-text-fill-color: blue;
}
p{
  color:#ff33ff;
}

/*This is extremely time consuming, although I appreciated several steps to code several lines. :)*/